@import '../../GlobalStyles//GlobalStyles.module.scss';
.wrapper {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    background-color: #122620;
    box-shadow: 0px 0px 2px black;
    z-index: 99;
}
.container {
    display: flex;
    align-items: center;
    padding: 0px 15px;
}
.logo {
    // padding: 10px;
    font-family: 'Italiana', sans-serif;
    color: var(--tan-color);
    font-size: 40px;
    flex: 1;
    @include mobile {
        text-align: center;
    }
}

.logoTitle {
    @include mobile {
        font-size: 35px;
    }
}
.burger {
    display: none;
    @include mobile {
        display: block;
        position: absolute;
    }
}
.lines {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.line {
    width: 20px;
    height: 2px;
    border-radius: 50px;
    background-color: var(--gold-color);
}
.burgerCheckbox {
    display: none;
}
.burgerCheckbox:checked ~ .burgerMenu {
    display: flex;
}
.burgerMenu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 46px;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: 'Poppins', sans-serif;
}

.burgerContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    span {
        font-size: 30px;
        font-weight: 400;
        color: var(--tan-color);
    }
}
.burgerShoesList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
        padding-left: 5px;
        font-weight: 300;
        color: var(---charcoal-color);
        border-left: 2px solid var(--gold-color);
    }
}
.navigation {
    flex: 1;
    @include mobile {
        display: none;
    }
}
.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    position: relative;
}
.nav-list-item {
    font-family: 'Poppins', sans-serif;
    padding: 30px 0px;
    font-weight: 400;
    color: var(--gold-color);
    font-size: 1.2rem;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        transition: all 0.3s linear;
    }
}
.shoes-menu {
    background-color: white;
    box-shadow: 0px 0px 5px var(--charcoal-color);
    position: fixed;
    top: 82px;
    left: 0;
    right: 0;
    transition: all 0.3s linear;
    z-index: 98;
}
.boost-menu {
    background-color: white;
    box-shadow: 0px 0px 5px var(--charcoal-color);
    position: fixed;
    top: 82px;
    left: 0;
    right: 0;
    transition: all 0.3s linear;
    z-index: 98;
}
.collection-menu {
    background-color: white;
    position: fixed;
    top: 82px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s linear;
    z-index: 98;
}
.menu-container-collection {
    padding: 0px 20px 60px;
    display: flex !important;
}
.collection-image-div {
    display: block;
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    padding: 10px !important;
    &:hover {
        padding: 0px !important;
        transition: all 0.3s ease-out;
    }
}
.collection-image {
    width: 88%;
}
.collection-des {
    position: absolute;
    bottom: 25px;
    font-family: 'Italiana', sans-serif;
    font-size: 20px;
    color: var(--cream-color);
    text-shadow: 0px 0px 2px var(--charcoal-color);
}
.menu-container {
    padding: 10px 20px 60px;
}
.menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.menu-list-item {
    color: var(--charcoal-color);
    font-family: 'Poppins', sans-serif;
    opacity: 0.9;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    &:hover {
        transition: padding-left 0.1s ease-out;
        padding-left: 5px;
        opacity: 1;
        border-left: 2px solid var(--tan-color);
    }
}
.menu-list-item + .menu-list-item {
    margin-top: 20px;
}
.menu-left-item {
    margin-top: 50px;
}
.menu-center-item {
    margin-top: 50px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    animation: list-appear 0.3s linear;
}
.menu-right-item {
    display: flex !important;
    margin-top: 40px;
}
.menu-image-1 {
    min-width: 50%;
    display: block;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
        width: 95%;
    }
    &:hover {
        padding: 0;
        transition: all 0.2s ease-out;
    }
}
.menu-image-2 {
    min-width: 50%;
    display: block;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
        width: 95%;
    }
    &:hover {
        padding: 0;
        transition: all 0.2s ease-out;
    }
}
.image-des {
    font-family: 'Italiana', sans-serif;
    color: var(--cream-color);
    text-shadow: 0px 0px 2px var(--charcoal-color);
    position: absolute;
    font-size: 20px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s linear;
    z-index: 96;
}
// Authencicated
.auth {
    position: relative;
    display: flex !important;
    justify-content: flex-end;
    flex: 1;
    @include mobile {
        display: none !important;
    }
}
.icon {
    font-size: 1.6rem;
    color: var(--gold-color);
    margin-right: 40px;
    cursor: pointer;
    &:hover {
        transition: all 0.3s linear;
        color: var(--tan-color);
    }
}
.checkbox {
    display: none;
}
.checkbox:checked ~ .question {
    transform: translateX(0);
    transition: all 0.3s linear;
}
.checkbox:checked ~ .overlay {
    display: block !important;
}
.question {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    position: fixed;
    width: 350px;
    top: 60px;
    padding: 20px 20px;
    background-color: var(--cream-color);
    color: var(--charcoal-color);
    transform: translateX(300%);
    transition: all 0.3s linear;
    box-shadow: 0px 0px 5px var(--tan-color);
    z-index: 1;
}
.question-para {
    padding-bottom: 14px;
}
.question-exist-para {
    font-size: 16px;
    text-decoration: underline 1px var(--gold-color);
    padding-bottom: 10px;
}
.question-list {
    list-style: none;
}
.question-list-item {
    font-size: 14px;
    font-weight: 300;
    color: #888888;
    cursor: pointer;
    padding-bottom: 15px;
    &:hover {
        color: var(---charcoal-color);
    }
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.btn {
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 0.625rem;
    letter-spacing: 0.3em;
    color: var(---charcoal-color);
    border-radius: 0;
    padding: 10px 10px;
    transition: all 0.7s ease-out;
    background: linear-gradient(
        270deg,
        rgba(223, 190, 106, 0.8),
        rgba(146, 111, 52, 0.8),
        rgba(34, 34, 34, 0),
        rgba(34, 34, 34, 0)
    );
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    // margin: 1rem 0.625rem 0.3rem;
    border: none;
    border: 1px solid var(--charcoal-color);
    cursor: pointer;
}
.btn:hover {
    color: #fff;
    border: 1px solid rgba(223, 190, 106, 0);
    background-position: 99% 50%;
}
.register-btn {
    margin-left: 10px;
}
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.cart-icon {
    position: absolute;
    top: -20px;
    right: 8px;
    color: var(--charcoal-color);
    font-size: 2rem;
    cursor: pointer;
    z-index: 100;
    animation: cart-icon-appear 0.2s ease-out;
    &:hover {
        color: var(--gold-color);
        transition: all 0.4s ease-out;
    }
}
@keyframes cart-icon-appear {
    from {
        transform: translateX(300%);
    }
    to {
        transform: translateX(0);
    }
}
.cart-div {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 35%;
    top: -10px;
    background-color: var(--cream-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
// Responsive
.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.c-o-1 {
    margin-left: 8.33333%;
}

.c-o-2 {
    margin-left: 16.66667%;
}

.c-o-3 {
    margin-left: 25%;
}

.c-o-4 {
    margin-left: 33.33333%;
}

.c-o-5 {
    margin-left: 41.66667%;
}

.c-o-6 {
    margin-left: 50%;
}

.c-o-7 {
    margin-left: 58.33333%;
}

.c-o-8 {
    margin-left: 66.66667%;
}

.c-o-9 {
    margin-left: 75%;
}

.c-o-10 {
    margin-left: 83.33333%;
}

.c-o-11 {
    margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-o-1 {
        margin-left: 8.33333%;
    }

    .m-o-2 {
        margin-left: 16.66667%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.33333%;
    }

    .m-o-5 {
        margin-left: 41.66667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.33333%;
    }

    .m-o-8 {
        margin-left: 66.66667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.33333%;
    }

    .m-o-11 {
        margin-left: 91.66667%;
    }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .l-0 {
        display: none;
    }

    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wide .l-0 {
        display: none;
    }

    .wide .l-1,
    .wide .l-2,
    .wide .l-2-4,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12 {
        display: block;
    }

    .wide .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .wide .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .wide .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .wide .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .wide .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .wide .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .wide .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide .l-o-1 {
        margin-left: 8.33333%;
    }

    .wide .l-o-2 {
        margin-left: 16.66667%;
    }

    .wide .l-o-3 {
        margin-left: 25%;
    }

    .wide .l-o-4 {
        margin-left: 33.33333%;
    }

    .wide .l-o-5 {
        margin-left: 41.66667%;
    }

    .wide .l-o-6 {
        margin-left: 50%;
    }

    .wide .l-o-7 {
        margin-left: 58.33333%;
    }

    .wide .l-o-8 {
        margin-left: 66.66667%;
    }

    .wide .l-o-9 {
        margin-left: 75%;
    }

    .wide .l-o-10 {
        margin-left: 83.33333%;
    }

    .wide .l-o-11 {
        margin-left: 91.66667%;
    }
}
